<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2c95cff8-0e15-4fff-a562-5f64112fa18b" Publisher="CN=Pete" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Win8Sherpin</DisplayName>
    <PublisherDisplayName>Pete</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Win8Sherpin.App">
      <VisualElements DisplayName="Win8Sherpin" Logo="Assets\Logo.jpg" SmallLogo="Assets\SmallLogo.png" Description="Win8Sherpin" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>