/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #fff;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

div.border 
{
    border-style:solid; 
    border-color:#a626c0; 
    border-width:3px;
}

b
{
	color:#a626c0;
}

.primary
{
    background:#a626c0; 
}

.secondary
{
    background:#e6e0ec;
}

a:link 
{
	text-decoration: none;
}
a:visited 
{
	text-decoration: none;
}
a:hover 
{
	text-decoration: underline;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #a626c0;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color:#a626c0;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    color: #e6e0ec;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}
