#allcontent {
    margin-left: auto;
    margin-right: auto;
}
#header{
    background: #b5d6f0 0 0 no-repeat;
    height: 40px;
    width: 100%;
    padding: 1.5em 0;
    position: fixed;
    top: -1px;
    left: -.15px;
}
#main_logo img{
    margin-left:25%;
    width: 100px;
    position:fixed;
}

#mainnav{
    margin-left: 30%;
    float:left;
    width: auto;
    position: fixed;
    min-width:1000px;
    list-style-type: none;
}
#home{
    margin-left: 55px;
    width: 50px;
    float: left;
    position: relative;
}
#products{
    margin-left: 60px;
    width: 50px;
    float: left;
    position: relative;
}
#sports{
    margin-left: 100px;
    width: 50px;
    float: left;
    position: relative;
}
#aboutnuun{
    margin-left: 60px;
    width: 200px;
    float: left;
    position: relative;
}
#fb_icon{
    top: -15px;
    margin-left:150px;
    position: relative;
}

#pageheader{
    margin-left: 25%;
    margin-top: 10px;
}
#bodycontent{
    top: 86px;
    left: -.15px;
    height: 100%;
    width: 100%;
	min-width:1000px;
    background:#A2396F;
    opacity:0.8;
    position: fixed;
	overflow-y: scroll !important;
    overflow-x: hidden;    
}
#bodytext{
	margin-left: 30px;
    font-size: 1.25em;    
    font-family: Telex, sans-serif;
    color: #0A5289;
	display:none;
}
#toplist , #bottomlist{
	list-style-type:none;
	float:left;
	margin-left: 25%;
}
#orangepanel, #colapanel, #citruspanel, #lemonpanel, #bananapanel, #berrypanel{
	top: -5px;
	height: 0px;
	width: 159px;
	background: white;
	position:relative;
}
#apperal {
	top:630px;
	margin-left:25%;
	font-weight:bold;
    font-size: 1em;    
    font-family: Telex, sans-serif;
    color: white;
	position:absolute;
}
#apperal a{
	text-decoration: none;
}
#contentplane{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color:#A2396F;
}
#load_img{
    height:50px;
    width:50px;
    position: relative; 
    top: 49%; 
    left: 49%;
}

hr{
	width:600px;
	margin-left:50px;
	position:relative;
}
#footer{
	height:120px;
	width:100%;
	margin-left: 25%;
	position:relative;
}
.Obuy, .Cbuy, .Ctbuy, .Lbuy, .Bbuy, .BEbuy{
	margin-top:-1px;
}
.bodyheader{
    font-weight:bold;
    font-size: 1.5em;    
    font-family: Telex, sans-serif;
    color: white;
    text-decoration: none;
}
.headertext{
    font-weight:bold;
    font-size: 2em;    
    font-family: Telex, sans-serif;
    color: #0A5289;
    text-decoration: none;
    
}